bandit==1.7.5
cfgv==3.4.0
distlib==0.3.7
filelock==3.12.4
gitdb==4.0.10
GitPython==3.1.37
identify==2.5.30
markdown-it-py==3.0.0
mdurl==0.1.2
nodeenv==1.8.0
pbr==5.11.1
platformdirs==3.11.0
pre-commit==3.5.0
Pygments==2.16.1
PyYAML==6.0.1
rich==13.6.0
smmap==5.0.1
stevedore==5.1.0
virtualenv==20.24.5
