bandit==1.7.5
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.3.0
click==8.1.7
distlib==0.3.7
filelock==3.12.4
fsspec==2023.9.2
gitdb==4.0.10
GitPython==3.1.37
huggingface-hub==0.18.0
identify==2.5.30
idna==3.4
markdown-it-py==3.0.0
mdurl==0.1.2
nodeenv==1.8.0
packaging==23.2
pbr==5.11.1
platformdirs==3.11.0
pre-commit==3.5.0
Pygments==2.16.1
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
rich==13.6.0
smmap==5.0.1
stevedore==5.1.0
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==2.0.6
virtualenv==20.24.5
